clusters:
  - name: auth-service
    cluster:
      certificate-authority: "{{ kube_config_dir }}/openstack-cacert.pem"
      server: "http://keystone-auth.rackspace-system.svc.cluster.local:8080/authenticate/token"
contexts:
  - context:
      cluster: auth-service
    name: auth-service
current-context: auth-service
